<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.ContestSubmitMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.ContestSubmit" id="ContestSubmitMap">
        <result property="contestSubmitId" column="contest_submit_id" jdbcType="INTEGER"/>
        <result property="contestId" column="contest_id" jdbcType="INTEGER"/>
        <result property="submitId" column="submit_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ContestSubmitMap">
        select
          contest_submit_id, contest_id, submit_id
        from oj.contest_submit
        where contest_submit_id = #{contestSubmitId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ContestSubmitMap">
        select
          contest_submit_id, contest_id, submit_id
        from oj.contest_submit
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ContestSubmitMap">
        select
          contest_submit_id, contest_id, submit_id
        from oj.contest_submit
        <where>
            <if test="contestSubmitId != null">
                and contest_submit_id = #{contestSubmitId}
            </if>
            <if test="contestId != null">
                and contest_id = #{contestId}
            </if>
            <if test="submitId != null">
                and submit_id = #{submitId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="contestSubmitId" useGeneratedKeys="true">
        insert into oj.contest_submit(contest_id, submit_id)
        values (#{contestId}, #{submitId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.contest_submit
        <set>
            <if test="contestId != null">
                contest_id = #{contestId},
            </if>
            <if test="submitId != null">
                submit_id = #{submitId},
            </if>
        </set>
        where contest_submit_id = #{contestSubmitId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.contest_submit where contest_submit_id = #{contestSubmitId}
    </delete>

</mapper>
