<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.ContestProblemMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.ContestProblem" id="ContestProblemMap">
        <result property="contestProblemId" column="contest_problem_id" jdbcType="INTEGER"/>
        <result property="problemId" column="problem_id" jdbcType="INTEGER"/>
        <result property="contestId" column="contest_id" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ContestProblemMap">
        select
          contest_problem_id, problem_id, contest_id, score
        from oj.contest_problem
        where contest_problem_id = #{contestProblemId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ContestProblemMap">
        select
          contest_problem_id, problem_id, contest_id, score
        from oj.contest_problem
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ContestProblemMap">
        select
          contest_problem_id, problem_id, contest_id, score
        from oj.contest_problem
        <where>
            <if test="contestProblemId != null">
                and contest_problem_id = #{contestProblemId}
            </if>
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
            <if test="contestId != null">
                and contest_id = #{contestId}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="contestProblemId" useGeneratedKeys="true">
        insert into oj.contest_problem(problem_id, contest_id, score)
        values (#{problemId}, #{contestId}, #{score})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.contest_problem
        <set>
            <if test="problemId != null">
                problem_id = #{problemId},
            </if>
            <if test="contestId != null">
                contest_id = #{contestId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
        </set>
        where contest_problem_id = #{contestProblemId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.contest_problem where contest_problem_id = #{contestProblemId}
    </delete>

</mapper>
