<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.DictionaryOptionMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.DictionaryOption" id="DictionaryOptionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dictId" column="dict_id" jdbcType="INTEGER"/>
        <result property="optionCode" column="option_code" jdbcType="VARCHAR"/>
        <result property="optionName" column="option_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="sortNo" column="sort_no" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="DictionaryOptionMap">
        select
          id, dict_id, option_code, option_name, remark, sort_no
        from oj.dictionary_option
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DictionaryOptionMap">
        select
          id, dict_id, option_code, option_name, remark, sort_no
        from oj.dictionary_option
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="DictionaryOptionMap">
        select
          id, dict_id, option_code, option_name, remark, sort_no
        from oj.dictionary_option
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="dictId != null">
                and dict_id = #{dictId}
            </if>
            <if test="optionCode != null and optionCode != ''">
                and option_code = #{optionCode}
            </if>
            <if test="optionName != null and optionName != ''">
                and option_name = #{optionName}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="sortNo != null">
                and sort_no = #{sortNo}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oj.dictionary_option(dict_id, option_code, option_name, remark, sort_no)
        values (#{dictId}, #{optionCode}, #{optionName}, #{remark}, #{sortNo})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.dictionary_option
        <set>
            <if test="dictId != null">
                dict_id = #{dictId},
            </if>
            <if test="optionCode != null and optionCode != ''">
                option_code = #{optionCode},
            </if>
            <if test="optionName != null and optionName != ''">
                option_name = #{optionName},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="sortNo != null">
                sort_no = #{sortNo},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.dictionary_option where id = #{id}
    </delete>

</mapper>
