<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.LogRecordMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.LogRecord" id="LogRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="record" column="record" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LogRecordMap">
        select
          id, record
        from oj.log_record
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LogRecordMap">
        select
          id, record
        from oj.log_record
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LogRecordMap">
        select
          id, record
        from oj.log_record
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="record != null and record != ''">
                and record = #{record}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oj.log_record(record)
        values (#{record})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.log_record
        <set>
            <if test="record != null and record != ''">
                record = #{record},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.log_record where id = #{id}
    </delete>

</mapper>
