<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.OssResourceMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.OssResource" id="OssResourceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
        <result property="uploadType" column="upload_type" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="OssResourceMap">
        select
          id, name, url, user_id, upload_time, upload_type
        from oj.oss_resource
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OssResourceMap">
        select
          id, name, url, user_id, upload_time, upload_type
        from oj.oss_resource
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="OssResourceMap">
        select
          id, name, url, user_id, upload_time, upload_type
        from oj.oss_resource
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="uploadTime != null">
                and upload_time = #{uploadTime}
            </if>
            <if test="uploadType != null and uploadType != ''">
                and upload_type = #{uploadType}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oj.oss_resource(name, url, user_id, upload_time, upload_type)
        values (#{name}, #{url}, #{userId}, #{uploadTime}, #{uploadType})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.oss_resource
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime},
            </if>
            <if test="uploadType != null and uploadType != ''">
                upload_type = #{uploadType},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.oss_resource where id = #{id}
    </delete>

</mapper>
