<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.ProblemDataMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.ProblemData" id="ProblemDataMap">
        <result property="problemDataId" column="problem_data_id" jdbcType="INTEGER"/>
        <result property="problemId" column="problem_id" jdbcType="INTEGER"/>
        <result property="inputPath" column="input_path" jdbcType="VARCHAR"/>
        <result property="outputPath" column="output_path" jdbcType="VARCHAR"/>
        <result property="maxRuntimeMemory" column="max_runtime_memory" jdbcType="INTEGER"/>
        <result property="maxRuntimeTime" column="max_runtime_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProblemDataMap">
        select
          problem_data_id, problem_id, input_path, output_path, max_runtime_memory, max_runtime_time
        from oj.problem_data
        where problem_data_id = #{problemDataId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProblemDataMap">
        select
          problem_data_id, problem_id, input_path, output_path, max_runtime_memory, max_runtime_time
        from oj.problem_data
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProblemDataMap">
        select
          problem_data_id, problem_id, input_path, output_path, max_runtime_memory, max_runtime_time
        from oj.problem_data
        <where>
            <if test="problemDataId != null">
                and problem_data_id = #{problemDataId}
            </if>
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
            <if test="inputPath != null and inputPath != ''">
                and input_path = #{inputPath}
            </if>
            <if test="outputPath != null and outputPath != ''">
                and output_path = #{outputPath}
            </if>
            <if test="maxRuntimeMemory != null">
                and max_runtime_memory = #{maxRuntimeMemory}
            </if>
            <if test="maxRuntimeTime != null">
                and max_runtime_time = #{maxRuntimeTime}
            </if>
        </where>
    </select>
<!--    获取题目时间与内存限制-->
    <select id="findProblemRuntimeTimeAndRuntimeMemory" resultType="com.hqz.hzuoj.entity.DO.ProblemDataDO">
        select max(max_runtime_memory) as max_runtime_memory, max(max_runtime_time) as max_runtime_time from problem_data where problem_id = #{problemId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="problemDataId" useGeneratedKeys="true">
        insert into oj.problem_data(problem_id, input_path, output_path, max_runtime_memory, max_runtime_time)
        values (#{problemId}, #{inputPath}, #{outputPath}, #{maxRuntimeMemory}, #{maxRuntimeTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.problem_data
        <set>
            <if test="problemId != null">
                problem_id = #{problemId},
            </if>
            <if test="inputPath != null and inputPath != ''">
                input_path = #{inputPath},
            </if>
            <if test="outputPath != null and outputPath != ''">
                output_path = #{outputPath},
            </if>
            <if test="maxRuntimeMemory != null">
                max_runtime_memory = #{maxRuntimeMemory},
            </if>
            <if test="maxRuntimeTime != null">
                max_runtime_time = #{maxRuntimeTime},
            </if>
        </set>
        where problem_data_id = #{problemDataId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.problem_data where problem_data_id = #{problemDataId}
    </delete>

</mapper>
