<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.ProblemMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.Problem" id="ProblemMap">
        <result property="problemId" column="problem_id" jdbcType="INTEGER"/>
        <result property="publicCode" column="public_code" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="explain" column="explain" jdbcType="VARCHAR"/>
        <result property="inputContent" column="input_content" jdbcType="VARCHAR"/>
        <result property="outputContent" column="output_content" jdbcType="VARCHAR"/>
        <result property="background" column="background" jdbcType="VARCHAR"/>
        <result property="dataAddress" column="data_address" jdbcType="VARCHAR"/>
        <result property="createId" column="create_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateId" column="update_id" jdbcType="INTEGER"/>
        <result property="levelCode" column="level_code" jdbcType="INTEGER"/>
        <result property="dataVersion" column="data_version" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProblemMap">
        select
          problem_id, public_code, title, content, explain, input_content, output_content, background, data_address, create_id, create_time, update_time, update_id, level_code, data_version
        from oj.problem
        where problem_id = #{problemId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProblemMap">
        select
          problem_id, public_code, title, content, explain, input_content, output_content, background, data_address, create_id, create_time, update_time, update_id, level_code, data_version
        from oj.problem
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProblemMap">
        select
          problem_id, public_code, title, content, explain, input_content, output_content, background, data_address, create_id, create_time, update_time, update_id, level_code, data_version
        from oj.problem
        <where>
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
            <if test="publicCode != null and publicCode != ''">
                and public_code = #{publicCode}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="explain != null and explain != ''">
                and explain = #{explain}
            </if>
            <if test="inputContent != null and inputContent != ''">
                and input_content = #{inputContent}
            </if>
            <if test="outputContent != null and outputContent != ''">
                and output_content = #{outputContent}
            </if>
            <if test="background != null and background != ''">
                and background = #{background}
            </if>
            <if test="dataAddress != null and dataAddress != ''">
                and data_address = #{dataAddress}
            </if>
            <if test="createId != null">
                and create_id = #{createId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updateId != null">
                and update_id = #{updateId}
            </if>
            <if test="levelCode != null">
                and level_code = #{levelCode}
            </if>
            <if test="dataVersion != null and dataVersion != ''">
                and data_version = #{dataVersion}
            </if>
        </where>
    </select>
<!--   通过ID获取比赛题目 -->
    <select id="findById" resultType="com.hqz.hzuoj.entity.DO.ProblemDO">
        select * from problem where problem_id = #{problemId}
    </select>
<!--    获取题目列表-->
    <select id="findProblems" resultType="com.hqz.hzuoj.entity.DO.ProblemListDO">
        select * from problem p
        left join problem_tag pt on p.problem_id = pt.problem_id
        left join dictionary_option dict on dict.option_code = p.level_code
        <where>
            1 = 1
            <if test="levelCode != null">
                and p.level_code = #{levelCode}
            </if>
            <if test="tags != null and tags.length>0">
                and pt.tag_code in (#{tags})
            </if>
            <if test="title != null">
                and p.title like concat('%', #{title}, '%')
            </if>

        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="problemId" useGeneratedKeys="true">
        insert into oj.problem(public_code, title, content, explain, input_content, output_content, background, data_address, create_id, create_time, update_time, update_id, level_code, data_version)
        values (#{publicCode}, #{title}, #{content}, #{explain}, #{inputContent}, #{outputContent}, #{background}, #{dataAddress}, #{createId}, #{createTime}, #{updateTime}, #{updateId}, #{levelCode}, #{dataVersion})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.problem
        <set>
            <if test="publicCode != null and publicCode != ''">
                public_code = #{publicCode},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="explain != null and explain != ''">
                explain = #{explain},
            </if>
            <if test="inputContent != null and inputContent != ''">
                input_content = #{inputContent},
            </if>
            <if test="outputContent != null and outputContent != ''">
                output_content = #{outputContent},
            </if>
            <if test="background != null and background != ''">
                background = #{background},
            </if>
            <if test="dataAddress != null and dataAddress != ''">
                data_address = #{dataAddress},
            </if>
            <if test="createId != null">
                create_id = #{createId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="levelCode != null">
                level_code = #{levelCode},
            </if>
            <if test="dataVersion != null and dataVersion != ''">
                data_version = #{dataVersion},
            </if>
        </set>
        where problem_id = #{problemId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.problem where problem_id = #{problemId}
    </delete>

</mapper>
