<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqz.hzuoj.mapper.UserMapper">

    <resultMap type="com.hqz.hzuoj.entity.model.User" id="UserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="rating" column="rating" jdbcType="INTEGER"/>
        <result property="school" column="school" jdbcType="VARCHAR"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="acceptedTotal" column="accepted_total" jdbcType="INTEGER"/>
        <result property="submitTotal" column="submit_total" jdbcType="INTEGER"/>
        <result property="challengeTotal" column="challenge_total" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          user_id, username, password, email, status, register_time, gender, img, rating, school, signature, accepted_total, submit_total, challenge_total
        from oj.user
        where user_id = #{userId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          user_id, username, password, email, status, register_time, gender, img, rating, school, signature, accepted_total, submit_total, challenge_total
        from oj.user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
          user_id, username, password, email, status, register_time, gender, img, rating, school, signature, accepted_total, submit_total, challenge_total
        from oj.user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="registerTime != null">
                and register_time = #{registerTime}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="img != null and img != ''">
                and img = #{img}
            </if>
            <if test="rating != null">
                and rating = #{rating}
            </if>
            <if test="school != null and school != ''">
                and school = #{school}
            </if>
            <if test="signature != null and signature != ''">
                and signature = #{signature}
            </if>
            <if test="acceptedTotal != null">
                and accepted_total = #{acceptedTotal}
            </if>
            <if test="submitTotal != null">
                and submit_total = #{submitTotal}
            </if>
            <if test="challengeTotal != null">
                and challenge_total = #{challengeTotal}
            </if>
        </where>
    </select>
<!--    通过用户名返回用户信息-->
    <select id="queryByUsername" resultType="com.hqz.hzuoj.entity.model.User">
        select * from `user` where username = #{username}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into oj.user(username, password, email, status, register_time, gender, img, rating, school, signature, accepted_total, submit_total, challenge_total)
        values (#{username}, #{password}, #{email}, #{status}, #{registerTime}, #{gender}, #{img}, #{rating}, #{school}, #{signature}, #{acceptedTotal}, #{submitTotal}, #{challengeTotal})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oj.user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="rating != null">
                rating = #{rating},
            </if>
            <if test="school != null and school != ''">
                school = #{school},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
            <if test="acceptedTotal != null">
                accepted_total = #{acceptedTotal},
            </if>
            <if test="submitTotal != null">
                submit_total = #{submitTotal},
            </if>
            <if test="challengeTotal != null">
                challenge_total = #{challengeTotal},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oj.user where user_id = #{userId}
    </delete>

</mapper>
